{% extends 'store/Main.html' %}
{% load static %}
{% block content %}
</br>
</br>
</br>
</br>

<div class="middle">

        <img class="thumbnail" src="{{product.imageURL}}">
        <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Pridať do košíka</button>
                <h4 style="display: inline-block;float: right">{{product.price|floatformat:2}}€</h4>
                <hr>
                <h6>{{ product.detail }}</h6>
        </div>
</div>

{% endblock content %}