{% extends 'store/Main.html' %}     <!-- Dedičnosť z Main.html -->
{% load static %}   <!-- Načítanie "static" priečinku(css, obrázky, js) -->
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Pripojte sa</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Prihlásiť sa</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Potrebujete účet? <a class="ml-2" href="{% url 'register' %}">Registrujte sa</a>
        </small>
    </div>
</div>
{% endblock content %}